@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-out {
  animation: slideOutRight 0.5s forwards;
}

.slide-in {
  animation: slideInLeft 0.5s forwards;
}
